section.cta-product
    .container
        .row.align-items-center
            .col-md-7.justify-content-center.align-self-end
                img(src='../images/cta-aligned360.png')
            .col-md-5.text-center.text-md-left
                h3 Aligned 360
                p Need to develop short descriptive paragraph to introduce this new tool. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                button.btn.btn-secondary Learn more