section.feature-qualities
    .container   
        #carouselQualities.carousel.slide.row.align-items-center.carousel-fade(data-ride='carousel')
            .col-md-6.slider-wrapper
                .carousel-inner
                    .carousel-item.active
                        img(src='../images/feature-qualities-01.jpg', alt='First slide')
                    .carousel-item
                        img(src='../images/feature-qualities-01.jpg', alt='Second slide')
                    .carousel-item
                        img(src='../images/feature-qualities-01.jpg', alt='Third slide')
            .col-md-6.indicator-wrapper
                ol.carousel-indicators
                    li.active(data-target='#carouselQualities', data-slide-to='0')
                        .media.align-items-center
                            img(src='../images/icon-operations.png')
                            .media-body
                                p.label Operations
                                p.description Our operations department does all of those amazing things. 
                                    a(href='#') Learn More
                    li(data-target='#carouselQualities', data-slide-to='1')
                        .media.align-items-center
                            img(src='../images/icon-compliance.png')
                            .media-body
                                p.label Compliance
                                p.description Our operations department does all of those amazing things. 
                                    a(href='#') Learn More
                    li(data-target='#carouselQualities', data-slide-to='2')
                        .media.align-items-center
                            img(src='../images/icon-finance.png')
                            .media-body
                                p.label Finance
                                p.description Our operations department does all of those amazing things. 
                                    a(href='#') Learn More