section.slider-main

  //search overlay
  #search-overlay
    .container
      h1 Search Aligned Capital Partners
  //end of search overlay

  .row.no-gutters
    #carouselMain.carousel.slide.col.carousel-fade(data-ride='carousel')
      ol.carousel-indicators
        li.active(data-target='#carouselMain', data-slide-to='0')
        li(data-target='#carouselMain', data-slide-to='1')
        li(data-target='#carouselMain', data-slide-to='2')
      .carousel-inner
        .carousel-item.active
          img.background.kenburns(src='../images/bg-slider-01.jpg', alt='First slide')
          .container
            .caption.text-center.text-md-left
              h2
                | A Compelling Message about 
                span.special Ease-of-Transition
        .carousel-item
          img.background.kenburns(src='../images/bg-slider-01.jpg', alt='Second slide')
          .container
            .caption.text-center.text-md-left
              h2
                | A Compelling Message about 
                span.special Ease-of-Transition
        .carousel-item
          img.background.kenburns(src='../images/bg-slider-01.jpg', alt='Second slide')
          .container
            .caption.text-center.text-md-left
              h2
                | A Compelling Message about 
                span.special Ease-of-Transition 