section.slider-testimonials.section-dark
    .container
        .row.justify-content-center.align-items-center
            .col-md-3.text-center.text-md-left.dp
                img(src='../images/testimonial-dp.png')
            .col-md-7
                p.testimonial-message.text-center.text-md-left Aligned Capital Partners has been an essential partner and has helped me transition my portfolio of investors without a single hitch.
                h4.testimonial-author.text-center.text-md-left Jody Lantern
                h5.testimonial-occupation.text-center.text-md-left Senior Advisor, ABC Capital
