section.welcome-blurb
    .container
        .row.justify-content-center.text-center
            .col
                h1
                    | With 
                    strong Aligned Capital Partners Inc.
                    | , you as our Partner, have access to technologies that will help you reach the superior level of performance you demand from your business.
                img#down-arrow.arrow(src='../images/btn-arrow-down.png')