
nav.navbar.fixed-top.navbar-expand-md.main-navbar

  .above-navbar.container
    .row.align-items-center
      ul.above-navbar-links.text-center.text-md-right
        li.item
          a(href='#') Investor Information Centre
        li.item
          a(href='#') Contact Us
        li.item
          a(href='#') 
            i.fa.fa-search(aria-hidden="true")

  .container  
    .row.no-gutters.align-items-center
      .col-md-3
        a.navbar-brand(href='#')
          img.logo(src='../images/logo-cropped.png')
        //- button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarMain', aria-expanded='false', aria-label='Toggle navigation')
        //-   span.navbar-toggler-icon
        button#hamburger.navbar-toggler.hamburger.hamburger--arrow-r(type='button', data-toggle='collapse', data-target='#navbarMain', aria-expanded='false', aria-label='Toggle navigation')
          span.hamburger-box
            span.hamburger-inner
      .col
        #navbarMain.collapse.navbar-collapse.justify-content-end
          ul.navbar-nav
            li.nav-item.dropdown.active
              a#dropdown-01.dropdown-toggle.nav-link(href='/', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Aligned Thinking
                i.fa.fa-chevron-down
              .dropdown-menu(aria-labelledby='dropdown-01')
                a.dropdown-item(href='#') Dropdown Item
                a.dropdown-item(href='#') Dropdown Item
                a.dropdown-item(href='#') Dropdown Item
            li.nav-item.dropdown
              a#dropdown-02.dropdown-toggle.nav-link(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Our Platform
                i.fa.fa-chevron-down
              .dropdown-menu(aria-labelledby='dropdown-02')
                a.dropdown-item(href='#') Dropdown Item
                a.dropdown-item(href='#') Dropdown Item
                a.dropdown-item(href='#') Dropdown Item
            li.nav-item.dropdown
              a#dropdown-03.dropdown-toggle.nav-link(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') About Us
                i.fa.fa-chevron-down
              .dropdown-menu(aria-labelledby='dropdown-03')
                a.dropdown-item(href='#') Dropdown Item
                a.dropdown-item(href='#') Dropdown Item
                a.dropdown-item(href='#') Dropdown Item
            li.nav-item
              button.btn.btn-primary.btn-nav(href='#') Advisor Access
              