footer.footer-links
    .container
        .row.top
            .col-md-6.text-center.text-sm-left
                .row
                    .col-sm-6
                        ul.links.main.top-links
                            li
                                a(href='#') Home
                            li
                                a(href='#') Investor Information Centre
                            li
                                a(href='#') Advisor Access
                            li
                                a(href='#') Contact Us
                        ul.links.bottom-links
                            li
                                a(href='#') Aligned Thinking
                            li
                                a(href='#') Support Systems
                            li
                                a(href='#') Product
                            li
                                a(href='#') Aligned 360
                            li
                                a(href='#') Aligned One
                    .col-sm-6
                        ul.links.top-links
                            li
                                a(href='#') About Us
                            li
                                a(href='#') Our Company
                            li
                                a(href='#') Our Team
                            li
                                a(href='#') Legal &amp; Privacy
                        ul.links.bottom-links
                            li
                                a(href='#') Our Platform
                            li
                                a(href='#') Advisor Transition
                            li
                                a(href='#') Operations
                            li
                                a(href='#') Compliance
                            li
                                a(href='#') Finance
            .col-md-6
        .row.bottom
            .col-md-4.text-center.text-md-left.logos
                img(src='../images/logo-cipf.png')
                img(src='../images/logo-iiroc.png')
            .col.text-center.text-md-right.copyright
                a(href='#') Privacy Notice     
                |  | 
                a(href='#') ACP Complaint Resolution Policy
                |  |     © 2017  Aligned Capital Partners Inc.
                