footer.footer-proper
    .container
        .row.align-items-end
            .col-md-6.disclaimer
                p DISCLAIMER: The information contained herein is specifically for BC, AB, ON, MB and NB residents only and does not constitute an offer to sell or solicit sales in any other Canadian or foreign jurisdictions. Aligned Capital Partners Inc. is a member of the 
                a(href='#') Investment Industry Regulatory Organization of Canada (IIROC)
                |  as well as a member of the 
                a(href='#') Canadian Investor Protection Fund (CIPF).
            .col-md-6.text-center.text-md-right.footnote
                a Designed by Baustein Design Inc.