include ../_includes/menus/navigation
#site
    include ../_includes/blocks/slider-main
    include ../_includes/blocks/welcome-blurb
    include ../_includes/blocks/cta-product
    include ../_includes/blocks/cta-advisors
    include ../_includes/blocks/feature-qualities
    include ../_includes/blocks/slider-testimonials
    include ../_includes/blocks/feature-clients
    include ../_includes/blocks/cta-advisor-program
